header {
    display: flex;
    width: 100%;
    height: 75px;
    background-color: #33FFFF;
    align-items: center;
}

.title {
    display: inline;
}

.head {
    float: right;
}

body {
    background-image: url(images/mizuirohaikeiy3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contener {
    width: 100%;
}

.left {
    float: left;
    width: 39%;
    margin: 25px;
    padding: 25px;
    padding-left: 25px;
}

.right {
    float: right;
    height: 60%;
    width: 50%;
    margin: 25px;
}

.foot {
    clear: both;
}