header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    background-color: #33FFFF;
    align-items: center;
}

.title {
    display: inline;
    padding: 25px;
}

.head {
    display: flex;
    padding: 25px;
}

body {
    background-image: url(images/mizuirohaikeiy3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

pre {
    white-space: pre-wrap ;
    font-family: "Meiryo"; 
    font-size: 16px;
}

.contener {
    width: 100%;
}

.left {
    float: left;
    width: 39%;
    margin: 10px;
    padding: 15px;
    padding-left: 25px;
    padding-top: 50px;
    font-size: 120%;
}

.right {
    float: left;
    height: 60%;
    width: 50%;
    margin: 2%;
}

.foot {
    clear: both;
    padding: 25px;
}

#table {
    overflow-y: scroll;
    height: 500px;
}


table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    text-align: center;
}

table th {
    /*table内のtdに対して*/
    padding: 3px 10px;
    /*上下3pxで左右10px*/
    background-color: #b0c4de;
    /* 背景色指定 */
    border: none;
    border-left: 1px solid #808080;
    position: sticky;
    top: 0;

    /* &:before {
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        width: 100%;
        height: 100%;
        border: 1px solid #ccc;
    } */
}

table td {
    /*table内のtdに対して*/
    padding: 3px 10px;
    /*上下3pxで左右10px*/
    border: none;
    border-left: 1px solid #808080;
}

td:first-child,
th:first-child {
    border-left: none;
}

tr:first-child td,
tr:first-child th {
    border-top: none;
}

tr:nth-child(odd) {
    background-color: #e6e6fa;
    /* 背景色指定 */
}

tr:nth-child(even) {
    background-color: white;
    /* 背景色指定 */
}

.table_str {
    width: 10%;
}
.table_nmb {
    width: 5%;
}
.table_memo {
    width: 25%;
}

/*--hover 前--*/
a {
    color: blue;
}

/*--hover 後--*/
a:hover {
    color: orange;
    /*-- 文字色をオレンジ色 --*/
}

input,
select {
    height: 23px;
    margin: 2px;
    border-radius: 5px;
}

select,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    cursor: pointer;
}

textarea {
    margin: 2px;
    border-radius: 5px;
}